:root[mode="ios"],
:root[mode="md"] {
  --ion-font-family: "OpenSansRegular" !important;
  font-family: "OpenSansRegular" !important;
  --ion-tab-bar-background: #2a5077;
}

p {
  color: var(--ion-color-primary);
  font-family: Sura;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.15px;
}

h1,
h2,
h3,
h4,
ion-searchbar {
  font-family: SuraRegular;
}

ion-title {
  font-family: SuraBold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.15px;
  /* padding-inline: 0px !important; */
}

ion-tab-button {
  --color-selected: white;
  fill: white;
  --ripple-color: transparent;
  --color: rgba(255, 255, 255, 0.4);
}

ion-tab-bar {
  height: 64px;
}

ion-icon {
  font-size: 32px !important;
}

ion-item {
  /* disable md underline on focus */
  --highlight-background: none;
}

.header-md::after {
  /* get rid of header under line shadow thingy */
  background-image: none;
}

ion-button {
  --box-shadow: none;
  --border-radius: 0;
  text-transform: none;
  height: 48px;
  --padding-start: 24px;
  --padding-end: 24px;
  font-family: SuraBold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.15px;
  --ripple-color: transparent;
}

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "SuraBold";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Sura-Bold.ttf");
}

@font-face {
  font-family: "SuraRegular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Sura-Regular.ttf");
}
