:root {
  --ion-font-family: Sura;
  --ion-tab-bar-background: #2a5077;
  /* --ion-tab-bar-color-selected: white; */
}

ion-tab-button {
  --color-selected: yellow;
  --color: black;
}

ion-item {
  --highlight-background: none;
}

.header-md::after {
  background-image: none;
}
