version: "3.6"
services:
  graphql-engine:
    depends_on:
      - "postgres"
      - "webhook"
    environment:
      ACTION_BASE_ENDPOINT: http://webhook:80/api
  webhook:
    image: nickwangtech/tnt-webhook
    restart: always
    depends_on:
      - "postgres"
      - "scraper"
    ports:
      - "5001:80"
    environment:
      scraper: http://scraper:5000/
      parser: http://parser:3005/
      ConnectionStrings__PostgresContext: "Host=postgres;Port=5432;Database=postgres;Username=postgres;Password=${DBPW}"

volumes:
  db_data:
