name: .NET Core Build with Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    # use ubuntu for more build minutes
    runs-on: ubuntu-latest
    # defaults:
    #   run:
    #     working-directory: ./server
    # # use release mode for all steps
    env:
      config: "Release"
      # dotnet won't restore without this
      DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.103

      # restore dependencies
      - name: Install dependencies src
        run: dotnet restore
        working-directory: ./server/src
      - name: Install dependencies src.test
        run: dotnet restore
        working-directory: ./server/src.test

        # build project
      - name: Build src
        run: dotnet build --configuration $config --no-restore
        working-directory: ./server/src
      - name: Build src.test
        run: dotnet build --configuration $config --no-restore
        working-directory: ./server/src.test

      # set pr number, if it's a pr build
      - name: set pr build number
        id: PRNUMBER
        if: ${{ github.event_name == 'pull_request' }}
        uses: kkak10/pr-number-action@v1.3

        # set report file and title
      - name: Set Test Title
        run: |
          if ${{ github.event_name == 'pull_request' }}
          then
            echo "::set-env name=title::Test Run for PR #${{steps.PRNUMBER.outputs.pr}} (${{github.run_number}})"
            echo "::set-env name=file_name::TestReport.${{steps.PRNUMBER.outputs.pr}}.${{github.run_number}}.md"
          else
            echo "::set-env name=title::Test Run ${{github.run_number}}"
            echo "::set-env name=file_name::TestReport.${{github.run_number}}.md"
          fi

      # run tests with built project
      - name: Test PR
        run: dotnet test --no-restore --no-build --configuration $config
        # run: dotnet test
        working-directory:
          ./server/src.test

          # upload report as build artifact
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        if: ${{always()}}
        with:
          name: "Test Run"
          path: ${{github.workspace}}/${{env.file_name}}

        # add report as PR comment (if PR)
      - name: comment PR
        uses: machine-learning-apps/pr-comment@master
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: ${{env.file_name}}
